<a href="https://colab.research.google.com/github/TaahirBhorat/Zindi-Hack-Yassir/blob/master/Catboost-SUBMISSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import model_selection, preprocessing, metrics
import matplotlib.pyplot as plt
!pip install -q catboost

     |████████████████████████████████| 64.8MB 61kB/s

In [ ]:
train = pd.read_csv('/content/drive/My Drive/Zindi/Train.csv')

In [ ]:
train.head()

         ID  Origin_lat  Origin_lon  ...  Day_in_week  Day_in_year  Month
0  000FLWA8       3.258      36.777  ...            2          338     12
1  000RGOAM       3.087      36.707  ...            1          344     12
2  001QSGIH       3.144      36.739  ...            5          327     11
3  002ACV6R       3.239      36.784  ...            6          335     12
4  0039Y7A8       2.912      36.707  ...            1          351     12

[5 rows x 15 columns]

In [ ]:
train.describe()

         Origin_lat    Origin_lon  ...   Day_in_year         Month
count  83924.000000  83924.000000  ...  83924.000000  83924.000000
mean       3.052406     36.739358  ...    337.940482     11.600603
std        0.096388      0.032074  ...      8.700890      0.489777
min        2.807000     36.589000  ...    323.000000     11.000000
25%        2.994000     36.721000  ...    331.000000     11.000000
50%        3.046000     36.742000  ...    338.000000     12.000000
75%        3.095000     36.760000  ...    345.000000     12.000000
max        3.381000     36.820000  ...    353.000000     12.000000

[8 rows x 14 columns]

In [ ]:
train.isnull().sum()

ID                 0
Timestamp          0
Origin_lat         0
Origin_lon         0
Destination_lat    0
Destination_lon    0
Trip_distance      0
ETA                0
dtype: int64

In [ ]:
train.shape[0]

83924

In [ ]:
from sklearn.cluster import MiniBatchKMeans
import numpy as np

arr = np.vstack((train[['Origin_lat', 'Origin_lon']].values,
                    train[['Destination_lat', 'Destination_lon']].values))
sample_ind = np.random.permutation(len(arr))
kmeans =MiniBatchKMeans(n_clusters=90, batch_size=10000).fit(arr[sample_ind])

In [ ]:
train.loc[:, 'pickup_cluster'] = kmeans.predict(train[['Origin_lat', 'Origin_lon']])

train.loc[:, 'dropoff_cluster'] = kmeans.predict(train[['Destination_lat', 'Destination_lon']])

In [ ]:
arr = np.vstack((train[['Origin_lat', 'Origin_lon']].values,
                    train[['Destination_lat', 'Destination_lon']].values))

from sklearn.decomposition import PCA
pca = PCA().fit(arr)
train['pickup_pca0'] = pca.transform(train[['Origin_lat', 'Origin_lon']])[:, 0]
train['pickup_pca1'] = pca.transform(train[['Origin_lat', 'Origin_lon']])[:, 1]
train['dropoff_pca0'] = pca.transform(train[['Destination_lat', 'Destination_lon']])[:, 0]
train['dropoff_pca1'] = pca.transform(train[['Destination_lat', 'Destination_lon']])[:, 1]

In [ ]:
StartTime = pd.to_datetime(train['Timestamp'], infer_datetime_format=True)

KeyError: ignored

In [ ]:
train['is_peak_traffic'] = [1 if (5<i<9 or 15<i<20) else 0 for i in StartTime.dt.hour]
train['Day_in_week'] = StartTime.dt.dayofweek
train['Day_in_year'] = StartTime.dt.dayofyear
train['Month'] = StartTime.dt.month
train = train.drop('Timestamp', axis=1)
train = train.drop('Timestamp', axis=1)

KeyError: ignored

In [ ]:
train.head()

         ID  Origin_lat  Origin_lon  ...  Day_in_week  Day_in_year  Month
0  000FLWA8       3.258      36.777  ...            2          338     12
1  000RGOAM       3.087      36.707  ...            1          344     12
2  001QSGIH       3.144      36.739  ...            5          327     11
3  002ACV6R       3.239      36.784  ...            6          335     12
4  0039Y7A8       2.912      36.707  ...            1          351     12

[5 rows x 15 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from catboost import CatBoostRegressor

X = train.drop(['ETA', 'ID'], axis=1)
y = train['ETA']

print('splitting into test, validation and training sets')
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True, test_size=0.01)
X_val, X_test, y_val, y_test = train_test_split(X, y, shuffle=True, test_size=0.5)

model = CatBoostRegressor(
    loss_function='RMSE',
    iterations=20000,
    learning_rate=1.0,
    task_type='CPU'
)

print('training catboost model')
model.fit(
    X_train, y_train,
    eval_set=(X_val, y_val),
    verbose=200)

splitting into test, validation and training sets
training catboost model
0:	learn: 265.4156856	test: 266.5967890	best: 266.5967890 (0)	total: 70.8ms	remaining: 23m 36s
200:	learn: 135.9288056	test: 136.8686145	best: 136.8686145 (200)	total: 3.75s	remaining: 6m 9s
400:	learn: 119.2045932	test: 120.6330811	best: 120.6330811 (400)	total: 7.5s	remaining: 6m 6s
600:	learn: 108.5423547	test: 110.1844575	best: 110.1844575 (600)	total: 11.2s	remaining: 6m
800:	learn: 100.6323278	test: 102.6130827	best: 102.6130827 (800)	total: 14.9s	remaining: 5m 57s
1000:	learn: 94.3585008	test: 96.4992772	best: 96.4992772 (1000)	total: 18.6s	remaining: 5m 53s
1200:	learn: 88.9691144	test: 91.2224858	best: 91.2224858 (1200)	total: 22.4s	remaining: 5m 49s
1400:	learn: 84.3650706	test: 86.7045340	best: 86.7045340 (1400)	total: 26s	remaining: 5m 45s
1600:	learn: 80.3316721	test: 82.6999454	best: 82.6999454 (1600)	total: 29.7s	remaining: 5m 41s
1800:	learn: 77.0112797	test: 79.3726970	best: 79.3726970 (1800)	total: 33.5s	remaining: 5m 38s
2000:	learn: 73.8755295	test: 76.3135766	best: 76.3135766 (2000)	total: 37.2s	remaining: 5m 34s
2200:	learn: 71.0963224	test: 73.6535765	best: 73.6535765 (2200)	total: 40.9s	remaining: 5m 30s
2400:	learn: 68.4343724	test: 71.1538210	best: 71.1538210 (2400)	total: 44.6s	remaining: 5m 26s
2600:	learn: 66.1994219	test: 68.9079308	best: 68.9079308 (2600)	total: 48.2s	remaining: 5m 22s
2800:	learn: 64.0286221	test: 66.7393218	best: 66.7393218 (2800)	total: 51.9s	remaining: 5m 18s
3000:	learn: 62.0639595	test: 64.9041561	best: 64.9041561 (3000)	total: 55.5s	remaining: 5m 14s
3200:	learn: 60.2672483	test: 63.1704755	best: 63.1704755 (3200)	total: 59.2s	remaining: 5m 10s
3400:	learn: 58.5390873	test: 61.5299180	best: 61.5299180 (3400)	total: 1m 2s	remaining: 5m 6s
3600:	learn: 56.9714070	test: 60.0865938	best: 60.0865938 (3600)	total: 1m 6s	remaining: 5m 2s
3800:	learn: 55.4819850	test: 58.6224402	best: 58.6224402 (3800)	total: 1m 10s	remaining: 4m 59s
4000:	learn: 54.1166810	test: 57.3125493	best: 57.3125493 (4000)	total: 1m 13s	remaining: 4m 55s
4200:	learn: 52.8493851	test: 56.1025180	best: 56.1025180 (4200)	total: 1m 17s	remaining: 4m 51s
4400:	learn: 51.6008683	test: 54.9483496	best: 54.9483496 (4400)	total: 1m 21s	remaining: 4m 47s
4600:	learn: 50.3856094	test: 53.8154456	best: 53.8154456 (4600)	total: 1m 24s	remaining: 4m 43s
4800:	learn: 49.3262605	test: 52.8332187	best: 52.8332187 (4800)	total: 1m 28s	remaining: 4m 39s
5000:	learn: 48.2305968	test: 51.8712796	best: 51.8712796 (5000)	total: 1m 32s	remaining: 4m 35s
5200:	learn: 47.2902973	test: 51.0064072	best: 51.0064072 (5200)	total: 1m 35s	remaining: 4m 32s
5400:	learn: 46.3665979	test: 50.1565758	best: 50.1565758 (5400)	total: 1m 39s	remaining: 4m 28s
5600:	learn: 45.5460183	test: 49.4367841	best: 49.4361844 (5598)	total: 1m 42s	remaining: 4m 24s
5800:	learn: 44.6748825	test: 48.6778342	best: 48.6778342 (5800)	total: 1m 46s	remaining: 4m 20s
6000:	learn: 43.8367722	test: 47.8917184	best: 47.8917184 (6000)	total: 1m 50s	remaining: 4m 17s
6200:	learn: 43.1081663	test: 47.2149444	best: 47.2149444 (6200)	total: 1m 53s	remaining: 4m 13s
6400:	learn: 42.4126226	test: 46.6200377	best: 46.6200377 (6400)	total: 1m 57s	remaining: 4m 9s
6600:	learn: 41.7453343	test: 46.0297627	best: 46.0297627 (6600)	total: 2m 1s	remaining: 4m 5s
6800:	learn: 41.0980978	test: 45.4079204	best: 45.4079204 (6800)	total: 2m 4s	remaining: 4m 2s
7000:	learn: 40.4864806	test: 44.8754179	best: 44.8754179 (7000)	total: 2m 8s	remaining: 3m 58s
7200:	learn: 39.9030326	test: 44.3429652	best: 44.3429652 (7200)	total: 2m 12s	remaining: 3m 54s
7400:	learn: 39.3480698	test: 43.8160072	best: 43.8160072 (7400)	total: 2m 15s	remaining: 3m 50s
7600:	learn: 38.8112694	test: 43.3586397	best: 43.3586397 (7600)	total: 2m 19s	remaining: 3m 47s
7800:	learn: 38.2754183	test: 42.8871920	best: 42.8871920 (7800)	total: 2m 22s	remaining: 3m 43s
8000:	learn: 37.7769328	test: 42.4541013	best: 42.4541013 (8000)	total: 2m 26s	remaining: 3m 39s
8200:	learn: 37.3036282	test: 42.0343040	best: 42.0343040 (8200)	total: 2m 30s	remaining: 3m 35s
8400:	learn: 36.8456516	test: 41.6228029	best: 41.6228029 (8400)	total: 2m 33s	remaining: 3m 32s
8600:	learn: 36.4590276	test: 41.2954351	best: 41.2954351 (8600)	total: 2m 37s	remaining: 3m 28s
8800:	learn: 36.0728320	test: 40.9531013	best: 40.9531013 (8800)	total: 2m 40s	remaining: 3m 24s
9000:	learn: 35.6723033	test: 40.5805340	best: 40.5802346 (8999)	total: 2m 44s	remaining: 3m 21s
9200:	learn: 35.3080759	test: 40.3052042	best: 40.3052042 (9200)	total: 2m 48s	remaining: 3m 17s
9400:	learn: 34.9391838	test: 39.9763286	best: 39.9763286 (9400)	total: 2m 51s	remaining: 3m 13s
9600:	learn: 34.6042826	test: 39.7395980	best: 39.7383323 (9590)	total: 2m 55s	remaining: 3m 9s
9800:	learn: 34.2570659	test: 39.4429003	best: 39.4429003 (9800)	total: 2m 59s	remaining: 3m 6s
10000:	learn: 33.9643223	test: 39.1771315	best: 39.1771315 (10000)	total: 3m 2s	remaining: 3m 2s
10200:	learn: 33.6770009	test: 38.9058441	best: 38.9058441 (10200)	total: 3m 6s	remaining: 2m 59s
10400:	learn: 33.4150891	test: 38.6728789	best: 38.6728789 (10400)	total: 3m 10s	remaining: 2m 55s
10600:	learn: 33.1215781	test: 38.4412573	best: 38.4412573 (10600)	total: 3m 13s	remaining: 2m 51s
10800:	learn: 32.8480277	test: 38.2389758	best: 38.2389644 (10798)	total: 3m 17s	remaining: 2m 48s
11000:	learn: 32.5729534	test: 38.0195739	best: 38.0195739 (11000)	total: 3m 21s	remaining: 2m 44s
11200:	learn: 32.3358706	test: 37.8285135	best: 37.8285135 (11200)	total: 3m 24s	remaining: 2m 40s
11400:	learn: 32.0844071	test: 37.6178661	best: 37.6178661 (11400)	total: 3m 28s	remaining: 2m 37s
11600:	learn: 31.8451817	test: 37.3988400	best: 37.3988400 (11600)	total: 3m 32s	remaining: 2m 33s
11800:	learn: 31.6206180	test: 37.2169010	best: 37.2169010 (11800)	total: 3m 35s	remaining: 2m 29s
12000:	learn: 31.3918580	test: 37.0231853	best: 37.0231853 (12000)	total: 3m 39s	remaining: 2m 26s
12200:	learn: 31.1830683	test: 36.8684752	best: 36.8684752 (12200)	total: 3m 43s	remaining: 2m 22s
12400:	learn: 30.9876174	test: 36.7101313	best: 36.7100873 (12399)	total: 3m 46s	remaining: 2m 18s
12600:	learn: 30.8008286	test: 36.5662036	best: 36.5662036 (12600)	total: 3m 50s	remaining: 2m 15s
12800:	learn: 30.6236510	test: 36.4020571	best: 36.4020571 (12800)	total: 3m 53s	remaining: 2m 11s
13000:	learn: 30.4277578	test: 36.2535842	best: 36.2535842 (13000)	total: 3m 57s	remaining: 2m 7s
13200:	learn: 30.2333342	test: 36.0858881	best: 36.0858881 (13200)	total: 4m 1s	remaining: 2m 4s
13400:	learn: 30.0725962	test: 35.9485734	best: 35.9479079 (13398)	total: 4m 4s	remaining: 2m
13600:	learn: 29.9135941	test: 35.7799110	best: 35.7799110 (13600)	total: 4m 8s	remaining: 1m 56s
13800:	learn: 29.7512030	test: 35.6463431	best: 35.6463431 (13800)	total: 4m 12s	remaining: 1m 53s
14000:	learn: 29.5922789	test: 35.5209088	best: 35.5209088 (14000)	total: 4m 16s	remaining: 1m 49s
14200:	learn: 29.4382436	test: 35.4086844	best: 35.4086844 (14200)	total: 4m 19s	remaining: 1m 46s
14400:	learn: 29.2958702	test: 35.2958988	best: 35.2948167 (14398)	total: 4m 23s	remaining: 1m 42s
14600:	learn: 29.1508796	test: 35.1674974	best: 35.1674974 (14600)	total: 4m 26s	remaining: 1m 38s
14800:	learn: 29.0195300	test: 35.0504487	best: 35.0486636 (14799)	total: 4m 30s	remaining: 1m 35s
15000:	learn: 28.8859945	test: 34.9357155	best: 34.9357155 (15000)	total: 4m 34s	remaining: 1m 31s
15200:	learn: 28.7534902	test: 34.8412847	best: 34.8412847 (15200)	total: 4m 37s	remaining: 1m 27s
15400:	learn: 28.6225302	test: 34.7213906	best: 34.7201759 (15395)	total: 4m 41s	remaining: 1m 24s
15600:	learn: 28.5021609	test: 34.6237681	best: 34.6237681 (15600)	total: 4m 45s	remaining: 1m 20s
15800:	learn: 28.3874936	test: 34.5311312	best: 34.5297919 (15792)	total: 4m 48s	remaining: 1m 16s
16000:	learn: 28.2776503	test: 34.4451375	best: 34.4451375 (16000)	total: 4m 52s	remaining: 1m 13s
16200:	learn: 28.1713787	test: 34.3495123	best: 34.3495123 (16200)	total: 4m 56s	remaining: 1m 9s
16400:	learn: 28.0683274	test: 34.2687521	best: 34.2666618 (16395)	total: 4m 59s	remaining: 1m 5s
16600:	learn: 27.9655438	test: 34.1868573	best: 34.1865383 (16599)	total: 5m 3s	remaining: 1m 2s
16800:	learn: 27.8752786	test: 34.1054712	best: 34.1053860 (16799)	total: 5m 7s	remaining: 58.5s
17000:	learn: 27.7805976	test: 34.0387237	best: 34.0387237 (17000)	total: 5m 10s	remaining: 54.8s
17200:	learn: 27.6919991	test: 33.9674801	best: 33.9669675 (17197)	total: 5m 14s	remaining: 51.2s
17400:	learn: 27.6121728	test: 33.9072688	best: 33.9072688 (17400)	total: 5m 18s	remaining: 47.5s
17600:	learn: 27.5270261	test: 33.8260069	best: 33.8255009 (17598)	total: 5m 21s	remaining: 43.8s
17800:	learn: 27.4367962	test: 33.7542759	best: 33.7542759 (17800)	total: 5m 25s	remaining: 40.2s
18000:	learn: 27.3587051	test: 33.6968789	best: 33.6931289 (17984)	total: 5m 28s	remaining: 36.5s
18200:	learn: 27.2769897	test: 33.6256823	best: 33.6256823 (18200)	total: 5m 32s	remaining: 32.9s
18400:	learn: 27.1962356	test: 33.5618806	best: 33.5618233 (18398)	total: 5m 36s	remaining: 29.2s
18600:	learn: 27.1221373	test: 33.5106785	best: 33.5106785 (18600)	total: 5m 39s	remaining: 25.6s
18800:	learn: 27.0561032	test: 33.4587880	best: 33.4587880 (18800)	total: 5m 43s	remaining: 21.9s
19000:	learn: 26.9866275	test: 33.4001406	best: 33.3998807 (18998)	total: 5m 47s	remaining: 18.2s
19200:	learn: 26.9182757	test: 33.3496914	best: 33.3483437 (19195)	total: 5m 50s	remaining: 14.6s
19400:	learn: 26.8546092	test: 33.3072341	best: 33.3068291 (19397)	total: 5m 54s	remaining: 10.9s
19600:	learn: 26.7971918	test: 33.2676938	best: 33.2676938 (19600)	total: 5m 57s	remaining: 7.29s
19800:	learn: 26.7351565	test: 33.2150578	best: 33.2150578 (19800)	total: 6m 1s	remaining: 3.63s
19999:	learn: 26.6807367	test: 33.1753692	best: 33.1753692 (19999)	total: 6m 5s	remaining: 0us

bestTest = 33.17536919
bestIteration = 19999

In [ ]:
pd.DataFrame({'actual': y_test, 'predicted': model.predict(X_test)})

       actual    predicted
34491     563   558.716951
45698    1041  1061.730461
73682     978   997.550459
47856    1570  1571.474395
29522    1176  1174.108256
...       ...          ...
47515    1337  1332.051111
23145    2004  1987.891154
41114     589   582.990192
13213     535   539.605752
686       949   952.894451

[41962 rows x 2 columns]

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_test, model.predict(X_test)))
print(rms)

28.948033943368134

In [ ]:
TEST_SET = pd.read_csv('/content/drive/My Drive/Zindi/Test.csv')