<a href="https://colab.research.google.com/github/TaahirBhorat/Zindi-Hack-Yassir/blob/master/Catboost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import model_selection, preprocessing, metrics
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
train = pd.read_csv('/content/drive/My Drive/data 2.csv')

In [ ]:
train.head()

   Unnamed: 0  pickup_latitude  ...         trip_end_timestamp  trip_seconds
0           0        42.001571  ...  2020-06-30 23:30:00+00:00           845
1           1        41.857184  ...  2020-06-30 21:45:00+00:00          1860
2           2        41.878866  ...  2020-06-30 21:00:00+00:00           180
3           3        42.001571  ...  2020-06-30 21:00:00+00:00          1258
4           4        41.953582  ...  2020-06-30 21:15:00+00:00          2325

[5 rows x 9 columns]

In [ ]:
train.describe()

         Unnamed: 0  pickup_latitude  ...    trip_miles  trip_seconds
count  4.040078e+06     4.040078e+06  ...  4.040078e+06  4.040078e+06
mean   2.020038e+06     4.190048e+01  ...  3.812768e+00  8.362724e+02
std    1.166270e+06     3.754009e-02  ...  1.179981e+01  1.052779e+03
min    0.000000e+00     4.166014e+01  ...  1.000000e-02  1.000000e+00
25%    1.010019e+06     4.188099e+01  ...  9.000000e-01  3.620000e+02
50%    2.020038e+06     4.189207e+01  ...  1.600000e+00  6.000000e+02
75%    3.030058e+06     4.190749e+01  ...  3.600000e+00  9.600000e+02
max    4.040077e+06     4.202122e+01  ...  3.353100e+03  8.638800e+04

[8 rows x 7 columns]

In [ ]:
train.isnull().sum()

Unnamed: 0              0
pickup_latitude         0
pickup_longitude        0
dropoff_latitude        0
dropoff_longitude       0
trip_miles              0
trip_start_timestamp    0
trip_end_timestamp      0
trip_seconds            0
dtype: int64

In [ ]:
train.shape[0]

4040078

In [ ]:
from sklearn.cluster import MiniBatchKMeans
import numpy as np

arr = np.vstack((train[['pickup_latitude', 'pickup_longitude']].values,
                    train[['dropoff_latitude', 'dropoff_longitude']].values))
sample_ind = np.random.permutation(len(arr))
kmeans =MiniBatchKMeans(n_clusters=90, batch_size=10000).fit(coords[sample_ind])

In [ ]:
train.loc[:, 'pickup_cluster'] = kmeans.predict(train[['pickup_latitude', 'pickup_longitude']])

train.loc[:, 'dropoff_cluster'] = kmeans.predict(train[['dropoff_latitude', 'dropoff_longitude']])

In [ ]:
arr = np.vstack((train[['pickup_latitude', 'pickup_longitude']].values,
                    train[['dropoff_latitude', 'dropoff_longitude']].values))

from sklearn.decomposition import PCA
pca = PCA().fit(arr)
train['pickup_pca0'] = pca.transform(train[['pickup_latitude', 'pickup_longitude']])[:, 0]
train['pickup_pca1'] = pca.transform(train[['pickup_latitude', 'pickup_longitude']])[:, 1]
train['dropoff_pca0'] = pca.transform(train[['dropoff_latitude', 'dropoff_longitude']])[:, 0]
train['dropoff_pca1'] = pca.transform(train[['dropoff_latitude', 'dropoff_longitude']])[:, 1]

In [ ]:
StartTime = pd.to_datetime(train['trip_start_timestamp'], infer_datetime_format=True)

In [ ]:
train['is_peak_traffic'] = [1 if (5<i<9 or 15<i<20) else 0 for i in StartTime.dt.hour]
train['Day_in_week'] = StartTime.dt.dayofweek
train['Day_in_year'] = StartTime.dt.dayofyear
train['Month'] = StartTime.dt.month
train = train.drop('trip_start_timestamp', axis=1)
train = train.drop('trip_end_timestamp', axis=1)

In [ ]:
train.head()

   Unnamed: 0  pickup_latitude  ...  Day_in_year  Month
0           0        42.001571  ...          182      6
1           1        41.857184  ...          182      6
2           2        41.878866  ...          182      6
3           3        42.001571  ...          182      6
4           4        41.953582  ...          182      6

[5 rows x 20 columns]

         Unnamed: 0  pickup_latitude  ...  is_peak_traffic  Day_in_week
88               88        41.899602  ...                0            0
89               89        41.986712  ...                0            0
90               90        41.980264  ...                0            0
91               91        41.812949  ...                0            0
92               92        41.792592  ...                0            0
...             ...              ...  ...              ...          ...
4036258     4036258        41.874005  ...                0            0
4036259     4036259        41.944227  ...                0            0
4036260     4036260        41.901207  ...                0            0
4036261     4036261        41.899602  ...                0            0
4036262     4036262        41.899602  ...                0            0

[512191 rows x 18 columns]